<ul id="websitesCV">
		{% for website in websites|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
		<li>
			<span class="w3-text-teal">{{ website.name|raw }}</span>
			{% if website.url %}
				Site : {{ website.url|replace({'http://': '','https://': ''}) }}
			{% endif %}
			{{ (website.repoUrl and website.repoUrl)? ';' : '' }}
			{% if website.repoUrl %}
				Dépôt : {{ website.repoUrl|replace({'http://': '','https://': ''}) }}
			{% endif %}
		</li>
	{% endfor %}
</ul>
