<form method="post" action="{{ path('miscellaneous_elements_delete', {'id': miscellaneous_element.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ miscellaneous_element.id) }}">
    <button class="btn">Delete</button>
</form>
