@font-face {
    font-family: 'abelregular';
    src: url('abel-regular-webfont.eot');
    src: url('abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('abel-regular-webfont.woff') format('woff'),
        url('abel-regular-webfont.ttf') format('truetype'),
        url('abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: abelregular;
    font-size: 20px;

    header {

        >div {
            text-align: center;
            color: rgba(0, 0, 0, 0.87);

            p {
                font-style: italic;
            }
        }
    }

    main{
        #calc{
            border: 1px solid;
            // height: 350px;
            width: 40%;
            margin: auto;
            border-radius: 20px;
            >#screen{
                box-sizing: border-box;
                background-color: lightblue; 
                border-bottom: 1px solid; 
                height: 100px; 
                width: 100%;
                
                font-family: Arial; 
                border-radius: 20px 20px 0px 0px;

                >#typed,>#previoustype{
                    border: none;
                    padding: 7px;
                    font-size: 30px; 
                    margin-top: 0;
                    margin-bottom: 0;
                    height: 45px;
                    text-align: right;
                }
                >#previoustype{
                    color: grey;
                    font-size: 20px;
                    overflow-y: scroll;
                }
                >#typed{
                    width: 100%;
                    box-sizing: border-box;
                    background-color: lightblue; 
                }
            }
            >div{
                width: 100%;
                margin: auto;
                >div{
                    display: flex;
                    >span{
                        display: block;
                        height: 40px; 
                        font-size: 20px; 
                        border-radius: 20px; 
                        flex: 4;
                        border: 1px solid;
                        text-align: center;
                        background-color: lightgrey;
                        margin: 2px;
                    }                
                }
            }
        }
    }





}


