// @font-face {
//     font-family: 'abelregular';
//     src: url('abel-regular-webfont.eot');
//     src: url('abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
//         url('abel-regular-webfont.woff') format('woff'),
//         url('abel-regular-webfont.ttf') format('truetype'),
//         url('abel-regular-webfont.svg#abelregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

body {
    margin: 0;
    // font-family: abelregular !important;
    font-size: 20px;

    i.fa,
    i.la {
        font-size: 2rem;
        margin: 0 3px 0 3px;
    }

    svg {
        position: relative;
        width: 100px;
        top: 12px;
        filter: grayscale(100%) brightness(190%);
        margin: 0 3px 0 3px;
    }

    header {
        background-image: url("lodyas.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        position: relative;

        >div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
                font-style: italic;
            }

        }

        nav {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;

            >span {
                float: right;
                border-radius: 10px;

                //caractere de line awesome
                .la-bars {
                    display: inline-block;
                    margin-top: 10px;
                    margin-right: 20px;
                    font-size: 4rem;
                    border: 1px solid rgb(185, 185, 185);
                    border-radius: 5px;
                    color: rgb(185, 185, 185);

                    &:not(.outOfHeader):hover {
                        box-shadow: 0 0 10px grey;
                    }
                }

                // classe attribuée temporairement en js au burger lorsqu'il sort de la zone du header
                .outOfHeader {
                    color: rgba(128, 128, 128, 0.534);
                    border: 1px solid rgba(128, 128, 128, 0.534);

                    &:hover {
                        box-shadow: 0 0 10px rgb(128, 128, 128);
                    }
                }
            }

            // Fin Hamburger sur vue mobile

            .menuPrincipal {
                position: absolute;
                top: 0px;
                left: 0px;
                display: none;
                margin: 0;
                width: 200px;
                text-align: right;

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 10px;
                    border: 1px solid grey;

                    &:not(.active):hover {
                        background-color: #ddd;
                        color: black !important;
                    }
                }
            }

        }
    }

    #scroll {
        position: fixed;
        bottom: 20px;
        right: 0;
        z-index: 1;

        .la-angle-double-up {
            margin-right: 20px;
            font-size: 4rem;
            text-decoration: none;
            color: rgba(128, 128, 128, 0.534);
            border: 1px solid rgba(128, 128, 128, 0.534);
            border-radius: 7px;

            &:hover {
                box-shadow: 0 0 10px rgb(128, 128, 128);
            }
        }
    }

    main {
        #mainContainer {
            max-width: 1600px;
        }

        .success,
        .form-error-message {
            position: fixed;
            width: 25%;
            border-radius: 5px;
            padding: 15px;
            font-weight: 600;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .form-error-message {
            background-color: rgb(255, 220, 154);
            color: rgb(168, 109, 0);
        }

        .success {
            background-color: rgb(154, 255, 196);
            color: rgb(0, 144, 72);
        }

        #comment_sent {
            display: none;
        }

        .bold {
            font-weight: bolder;
        }

        aside {

            h2,
            h3 {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            img {
                width: 50%;

                @media screen and (min-width : 601px) {
                    width: 100%;
                }

                @media screen and (min-width : 993px) {
                    width: 50%;
                }

                border-radius: 25%;
                padding-right: 10px;
            }

            p {
                margin: 0;
            }

            .barre {
                width: 100%;
                height: 20px;
                border-radius: 10px;
                margin-bottom: 40px;

                >div {
                    width: 50%;
                    height: 100%;
                    border-radius: 10px;
                }
            }

            a[href^="mailto"] {
                text-decoration: none;
            }

            svg {
                filter: grayscale(100%);
            }
        }

        article {

            @media screen and (max-width : 992px) {
                padding: 0 !important;
            }

            padding: inherit;

            #websites {
                .la-external-link-alt {
                    float: right;
                }

                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                align-items: center;
                gap: 15px;

                >figure {
                    width: 200px;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    text-decoration: none;
                    border-radius: 10px 10px 10px 10px;

                    >a {
                        >img {
                            box-sizing: border-box;
                            width: 100%;
                            margin: 0;
                            border-radius: 10px 10px 0 0;
                        }
                    }

                    >div {
                        margin: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        color: rgba(255, 255, 255, 0.85);
                        border-radius: 0 0 10px 10px;

                        h2 {
                            margin: 0;
                            padding: 10px;
                            font-size: 1.1rem;
                            font-weight: 400;
                            line-height: 1.4rem;
                            color: rgba(255, 255, 255, 0.85);
                            text-align: unset;
                        }

                        p {
                            margin: 0;
                            padding: 0 10px 10px 10px;
                            font-size: 1rem;
                            line-height: 1.2rem;
                            font-style: italic;
                            vertical-align: sub;
                        }

                        .description {
                            padding: 10px;
                            font-size: 1.1rem;
                            font-weight: 400;
                            line-height: 1.4rem;
                            color: rgba(255, 255, 255, 0.85);
                            text-align: unset;
                            font-style: unset;
                        }
                    }

                    &:hover {
                        position: relative;
                        box-shadow: 0 0 30px lightseagreen;
                        width: 220px;
                        right: 10px;
                    }
                }
            }
        }

        #contact {

            box-sizing: border-box;
            padding: 5% 10% 100px 10%;
            // background-color: rgb(31, 30, 30);
            color: rgba(255, 255, 255, 0.87);

            >h2 {
                color: rgba(47, 45, 45, 0.87);
                font-size: 3rem;
                line-height: 1rem;
                padding: 20px;
                text-align: center;
            }

            input,
            textarea {
                box-sizing: border-box;
                padding: 10px;
                width: 100%;
                margin-bottom: 10px;
                font-size: 1.4rem;
                line-height: 3rem;
            }

            textarea {
                height: 10rem;
            }

            button {
                display: block;
                margin: auto;
                width: 100%;
                height: 3rem;
                font-size: 1.4rem;
                background-color: #009688;
                color: white;
            }

        }
    }
}