body {
    .fa {
        font-family: fontawesome;
    }

    

    i.fa,
    i.la {
        font-size: 1rem;
        margin: 0 3px 0 3px;
        font-style: normal;
    }

    svg {
        position: relative;
        width: 100px;
        top: 12px;
        margin: 0 3px 0 3px;
    }

    p{
        font-size: 0.8rem;
    }
    h1{
        font-size: 1.5rem;
        margin: 0;
    }
    h2{
        font-size: 1.3rem;
        margin: 0;
    }
    h3{
        font-size: 1.2rem;
        margin: 0;
    }

    header {
        .message{
            padding-left: 10px;
            padding-right: 10px;
            p{
                font-style: italic;
            }
        }

        p {
            margin: 0;
        }

        i{
            text-align: center;
            font-size: 1.5rem;
        }
    }

    main {

        aside {

            h2,
            h3 {
                margin-bottom: 16px;
            }

            p {
                margin: 0;
            }

            .barre {
                width: 100%;
                height: 10px;
                border-radius: 10px;
                margin-bottom: 15px;
                div{
                    height: 10px;
                    border-radius: 10px;
                }
            }
        }

        article {
            padding-left: 30px;
            p{
                margin: 0;
            }

            #websitesCV {
                li{
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                }
            }

            section{
                h3{
                    margin-bottom: 10px;
                }
                div{
                    margin-bottom: 10px;

                    .description{
                        margin-top: 5px;
                        margin-left: 10px;
                    }
                }
            }
        }

    }
}